::-moz-selection {
  /* Code for Firefox */
  background: #019875;
  color: #fff;
}
::selection {
  background: #019875;
  color: #fff;
}
.map-toggle:hover {
  color: #fff;
}
a,
a:hover,
a:focus,
.action-btn:hover,
.site-header .navbar-nav > li > a:hover,
.site-header .navbar-nav > li > a.active,
.btn-dark:hover,
.tp-header.white .navbar-nav > li > a.active,
.tp-header.on.white .navbar-nav > li > a.active,
.semi-dark.on.white .navbar-nav > li > a.active,
.white-nav .navbar-nav > li > a:hover,
.link-white:hover,
.white-nav .navbar-nav > li > a.active,
.portfolio-filter li a.active,
.confirmation a:hover,
.portfolio-filter li a:hover,
.header-top .support p a:hover,
.sticky .navbar-nav > li > a.active,
.team-member li a:hover,
.team-member.style-2 .social-profile li a:hover,
.service-block .service-icon,
.service-wrap .service-icon,
.error404 p a:hover,
.site-footer .copyright span a:hover,
.entry-post .post-title a:hover,
article.post-item .post-meta a:hover,
.post-footer .read-more a:hover,
.categories li a:hover,
.widget-posts li .post-excrpt a:hover,
.more-posts a:hover,
.post-media.link-post a:hover,
.tab-default .tab-pane .continue:hover,
.panel-default .panel-heading.active h4,
.comment_info h4 a:hover:not(.reply),
.list-style li:before,
.launch-date i,
.progress.style2 .progress-bar span,
.countdown-wrapper .timer li span:last-child,
.contact-info a:hover,
.team-member.style-2 .meta h4,
.team-single .name,
.team-single .social-links li a:hover,
.team-single .social-links.white li a:hover,
.detail-single li a:hover,
.single-post.style2 .post-meta li a:hover,
.footer-social li a:hover,
.footer-top.style2 li a:hover,
.overview-text .lead,
.price-five .btn:hover,
.post-entry .post-content h3 a:hover,
.icon-service:hover .service-title h3,
.boxed-service.style2:hover .service-icon,
.comment_info h4 a:not(.reply):hover,
.boxed-service.style2:hover h5,
.home-slider4 .slider-content h3,
.pf-hover.hover-seven h4 a:hover,
.product-item .product-desc > a:hover,
.portfolio-item.hover-four:hover h4,
.confirmation a:hover,
.portfolio-item.hover-four:hover a,
.top-nav.style2 li a:hover,
.filter-wrapper a:hover,
.faq-filter li.active a,
.bc-nav li.active,
.filter-wrapper a.active,
.tm-item6 .meta h5,
.tm-item6 .meta a:hover,
.bc-nav li a:hover,
.tab-flat ul li.active a,
.progress.style2 .progress-bar span,
.type-two.light ul li.active a,
.agency .panel-heading.active a,
.type-three.light ul li.active a,
.agency .tab-flat.active a,
.price-one:hover h5,
.price-item-three .btn-circle:hover,
.price-eight:hover .pricing,
.price-ten .btn,
.btn-icon-with-border,
.service-item.type-two:hover h3,
.service-link a:hover,
.service-item.type-two:hover a,
.login-wrap.style3 .clear a:hover,
.cf-dark .contact-info a:hover,
.primary,
.sub-menu.style2 li:hover > a,
.widget.style2 .widget-list li > a:hover,
.widget.style2 .widget-list li ul li a:before,
.widget.style2 .icon-right i,
.widget.style2 .icon-left i,
.sub-menu.style3 li a:hover,
li.megamenu > .sub-menu.style3 li a:hover,
.index-slider3 .slider-content h1,
.section-head.style8 h2 b,
.service-wrap.type-3 .service-icon,
.service-wrap.type-4 .service-icon,
.service-wrap.type-4:hover h3,
.news-block.type2 .readmore:hover {
  color: #019875;
}
.price-table:hover .price-head,
.progress-bar,
.price-table:hover .icon-btn i,
.btn-theme,
.success-message,
.creative-item .caption li a:hover,
.map-wrapper,
.tweet-wrapper .twitter-follow:hover,
.btn-theme-color,
.twitter-feed .owl-dots .owl-dot.active,
.intro-top,
.tag-cloud a:hover,
.team-mate:hover .member-thumb:before,
.team-mate:hover .member-thumb:after,
.icon-btn:hover i,
.share-icon li a:hover,
.cart-nav li a:hover,
.cartinfo-wrapper > h3:before,
.payment-informations > h3:before,
.btn-solid-dark:hover,
.btn-solid-dark:focus,
.cart-nav li a.active,
.post-pagination li a:hover,
.post-pagination li.active a,
.panel-default .panel-heading.active h4:before,
.footer-item h3:before,
.btn-icon-theme,
.btn-icon-theme-bdr i,
.launch-date,
.mailchimp-form,
.service-item:hover,
.product-desc .metas a:hover,
.methodbox-label.active,
.service-img:after,
.dropcap,
.comment_info h4 .reply:hover,
.btn-dark-border:hover,
.btn-dark-border:focus,
.header-mid .navbar-nav > li:hover > a,
.sub-menu > li:hover > a,
.color-options li,
.plane,
#middle .plane,
.highlight-text,
.nav-hover-one > li > a:hover::before,
.cta-icon span,
.nav-hover-one > li > a.active::before,
.team-single.style2 figcaption,
.newsletter-wrapper,
.portfolio-filter.type2 li a:hover,
.mailchimp-form,
.portfolio-filter.type2 li a.active,
.blogpost-widget:before,
.subscription-form > button:hover,
.icon-block:hover,
.icon-service:hover .service-title span,
.bg-10,
.boxed-service.style2 h5:before,
.actionbox.primary,
.boxed-service.style2 h5:after,
.pf-hover .caption li a:hover,
.pf-hover.hover-five,
.footer-item h3:before,
.pf-hover.hover-8 .ajax-popup::before,
.pf-hover.hover-8 .ajax-popup::after,
.subs-form form,
.cart-nav li a:hover,
.payment-infobox h3:before,
.cart-nav li a.active,
.success-message,
.tm-item4 .control span:hover,
.tab-flat ul li.active a:before,
.type-three .panel-heading.active .panel-title i,
.price-wrap:hover .price-head,
.price-wrap.dark:hover,
.price-one:hover .price-title,
.price-nine:before,
.price-nine .btn:hover,
.service-item:hover .service-img:after,
.service-item.type-two:hover:before,
.price-range-slider .fliter-now,
.service-item.type-two:hover .service-icon,
.btn-theme-border2:hover,
.sprw-devider .solid-with-primary:before,
.btn-theme-border2:focus,
.pagination > li > a:hover,
.select-box-item .selectize-dropdown [data-selectable]:hover,
.select-box-two .selectize-dropdown [data-selectable]:hover,
.sprw-pagination li a:hover,
.primary-bg,
.sprw-pagination.dark li:first-child a:hover,
.sprw-pagination.dark li:last-child a:hover,
.sprw-pagination.dark .active a,
.price-range-slider .ui-slider-handle,
.sprw-social li a:before,
.widget-title.style3:before,
.widget-title.style2:before,
.tag-cloud.style2 a:hover,
.tag-cloud.style3 a:hover,
.price-range-slider .price-info span,
.widget-title.style2:after,
.bp-horizontal .bp-media .overlay,
.nav-hover-3 > li > a::before,
.nav-hover-3 > li > a:hover::before,
.nav-hover-4 > li > a::before,
.nav-hover-4 > li > a:hover::before,
.nav-hover-5 > li > a::before,
.nav-hover-5 > li > a:hover::before,
.nav-hover-6 > li > a.active::before,
.nav-hover-6 > li > a:hover::before,
.nav-hover-7 > li > a.active::before,
.nav-hover-7 > li > a:hover::before,
.colored-logo .navbar-brand,
.index-slider3 div.owl-controls .owl-dot,
.section-head.style8 .separator,
.service-wrap.type-3:hover .service-icon,
.social-profile > span {
  background-color: #019875;
}
.btn-theme:hover,
.btn-theme:focus {
  background-color: rgba(1, 152, 117, 0.8);
}
.select-box-two .select-box .selectize-input.dropdown-active {
  background-color: #019875 !important;
}
.service-wrap .service-icon:before {
  background-color: rgba(1, 152, 117, 0.1);
}
.service-wrap.type-3 .service-icon::before {
  background-color: rgba(1, 152, 117, 0.3);
}
.service-wrap.type-3 .service-icon::after {
  border-color: rgba(1, 152, 117, 0.2);
}
.nav-hover-9 > li > a::before {
  background: -webkit-linear-gradient(30deg, #019875 0%, #02fdc3 100%);
  background: linear-gradient(30deg, #019875 0%, #02fdc3 100%);
}
.service-wrap .service-icon:after,
.portfolio-filter li a.active,
.tag-cloud a:hover,
.tweet-wrapper .twitter-follow:hover,
.methodbox-label.active,
.section-head h4,
.share-icon li a:hover,
blockquote,
.post-pagination li a:hover,
.post-pagination li.active a,
.btn-icon-theme-bdr,
.sub-menu,
.price-item-three.four:hover:before,
.btn-icon-dark-bdr:hover,
.btn-theme-border,
.btn-dark-border:hover,
.btn-dark-border:focus,
.icon-block:hover,
.pf-hover .caption li a:hover,
.faq-filter li.active a,
.price-wrap.dark:hover,
.price-nine .btn:hover,
.btn-theme-border2,
.service-item.type-two:hover .service-icon,
.btn-icon-dark-bdr:focus,
.pagination > li > a:hover,
.select-box-item .select-box .selectize-input.dropdown-active,
.select-box-item .selectize-dropdown [data-selectable]:hover,
.select-box-two .select-box .selectize-input.dropdown-active,
.select-box-two .selectize-dropdown [data-selectable]:hover,
.sprw-pagination li a:hover,
.tag-cloud.style3 a:hover,
.index-slider3 div.owl-controls .owl-dot.active {
  border-color: #019875;
}
.cta-wide.cta-bdt {
  border-top-color: #019875;
}
.counter-item.style3,
.btn-icon-dark-bdr:hover i,
.btn-icon-dark-bdr:focus i {
  border-right-color: #019875;
}
.tab-navs li.active a,
.cta-wide.cta-bdb {
  border-bottom-color: #019875;
}
.pf-hover,
.sale-tag:before,
.sale-tag:before,
.tab-flat.type-three ul li.active a,
.bp-horizontal .bp-media .overlay:after {
  border-left-color: #019875;
}
