/*==============================================
    Variables
===============================================*/
/*==============================================
    Mixins
===============================================*/
/*============================================================
    For Medium Desktop / Macbook pro 13 inch
==============================================================*/
@media only screen and (min-width: 1151px) and (max-width: 1366px) {
  .index-slider3 .slider-content h3,
  .index-slider3 .slider-content h4 {
    font-size: 35px;
  }
  .index-slider3 .slider-content h1 {
    font-size: 95px;
  }
}
/*============================================================
	For Small Desktop
==============================================================*/
@media (min-width: 980px) and (max-width: 1150px) {
  .site-header .navbar-nav > li > a {
    padding: 0 15px;
    line-height: 100px;
  }
  .site-header .nav-hover-one > li > a,
  .site-header .nav-hover-9 > li > a {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
  }
  .header2.on .navbar-nav > li > a,
  .center-nav .navbar-nav > li > a {
    padding: 25px 15px;
    line-height: normal;
  }
  .index-slider3 .slider-content h3,
  .index-slider3 .slider-content h4 {
    font-size: 35px;
  }
  .index-slider3 .slider-content h1 {
    font-size: 95px;
  }
  .client-border.primary:nth-child(4) {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
  }
  .client-border.primary:nth-child(n+5) {
    border-top: 0 none;
  }
  .service-wrap.type-4 {
    padding: 70px 30px 64px;
  }
  .service-wrap.type-4 .service-icon {
    margin-bottom: 60px;
  }
  .service-wrap.type-4 h3 {
    font-size: 18px;
    margin-bottom: 32px;
  }
  .cta-lg .cta h2 {
    font-size: 35px;
  }
  .news-block.type2 .entry-title {
    font-size: 24px;
  }
  .news-block.type2 .entry-content {
    padding: 32px 30px 44px;
  }
  .news-block.type2 .readmore {
    padding-top: 19px;
  }
  .intro-text {
    padding: 45px 40px;
  }
  /* .section-head {
        h2 {
            font-size: 56px;
            padding-right: 10px;
        }
    } */
  .sub-heading {
    padding-left: 10px;
  }
  .service-block .service-icon {
    min-height: 269px;
  }
  .service-block .service-desc {
    padding: 25px;
  }
  .service-block .service-desc h2 {
    font-size: 22px;
  }
  .news-block .post-entry {
    padding: 20px;
  }
  .news-block h2 {
    font-size: 25px;
  }
  .news-block .icon-btn {
    margin-left: -20px;
  }
  .news-row [class^="col-"]:first-child .post-thumb img {
    min-height: 400px;
  }
  .client-border:nth-child(n+5) {
    border-top: 1px solid #e5e5e5;
  }
  .client-border:nth-child(6) {
    border-right: 1px solid #e5e5e5;
  }
  .client-border:nth-child(4),
  .client-border:nth-child(8),
  .client-border:nth-child(12) {
    border-right: 0 none;
  }
  .minimal .price-item-three {
    padding: 20px;
  }
  .price-table .price-head h2 {
    font-size: 30px;
  }
  .price-table .price-head h2 span {
    margin-left: 0;
  }
  .top-left {
    padding: 31.5px 30px;
  }
  .top-left p {
    font-size: 26px;
    line-height: 35px;
    margin: 25px 0 0;
  }
  .launch-date strong {
    font-size: 180px;
  }
  .countdown-wrapper .timer li {
    padding: 0 18px;
  }
  .countdown-wrapper .timer li span:first-child {
    font-size: 70px;
  }
  .team-member img + img {
    top: 0;
  }
  .feature-item .icon {
    height: 90px;
    width: 90px;
  }
  .feature-item h3 {
    font-size: 20px;
    line-height: 1.3;
  }
  /* index 2 banner */
  .banner-img img:first-child {
    max-width: 80%;
  }
  /* shop */
  .site-header.cart-enable .navbar-collapse:not(.bottom-nav) {
    margin-right: 120px;
  }
  .header-cart {
    right: 40px;
  }
  .product2-wrapper.desc-left .product-desc,
  .product2-wrapper.desc-right .product-desc {
    max-width: 175px;
  }
  .header4 .navbar-nav > li > a {
    font-size: 20px;
    padding: 0;
  }
  .btn-wide {
    padding: 0 45px;
  }
  .home-slider5 .slider-content h2 {
    font-size: 60px;
  }
  /* home business */
  .tab-half li a {
    font-size: 14px;
    padding: 10px 13px 9px;
  }
  .icon-block {
    height: 180px;
  }
  .boxed-service p {
    margin-bottom: 0;
  }
  .portfolio-heading li {
    padding: 0;
  }
  .right-half {
    margin-top: 60px;
  }
  .left-half {
    top: 62px;
  }
  .single-post .tablecell {
    max-width: 0;
  }
  .tm-item6 .text {
    width: 90%;
  }
  /* shop */
  .shop-widget h4 {
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    margin-left: -22px;
    margin-right: -22px;
  }
  .shop-widget li a {
    font-size: 12px;
    height: 36px;
    line-height: 36px;
  }
  .shop-widget .widget-products > div {
    padding-bottom: 12px;
  }
  .shop-widget .widget-products > div:last-child {
    border-bottom: 0;
  }
  .shop-widget .widget-products > div > * {
    display: block;
  }
  .shop-widget .widget-products .product-thumb {
    padding: 0 0 5px;
  }
  .shop-widget .widget-products .product-desc a {
    font-size: 12px;
    margin: 0 0 4px;
  }
  .testimonial-slider .tm-text {
    top: -1px;
  }
  .hexagon-img {
    width: 100%;
  }
  .bp-horizontal .bp-meta span {
    font-size: 12px;
    padding: 8px 10px;
  }
  .tab-flat ul li a {
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
  }
  .imac.right-half {
    margin-right: 0;
  }
  .logo-border .logo-item {
    height: 95px;
    position: relative;
  }
  .logo-border .logo-item img {
    width: 80%;
  }
  .footer-nav li a {
    padding: 0 5px;
  }
}
/*============================================================
    Ipad Portrait 1024px
==============================================================*/
@media only screen and (max-width: 1024px) {
  .parallax {
    background-attachment: scroll !important;
    background-position: center top !important;
    background-size: cover !important;
    height: auto;
    width: 100%;
  }
}
/*============================================================
	Tablet (Portrait) Design for a width of 768px
==============================================================*/
@media (min-width: 768px) and (max-width: 979px) {
  .bottom-margin {
    margin-bottom: 30px;
  }
  .bottom-margin:last-child {
    margin-bottom: 0;
  }
  .site-header .navbar-nav > li > a {
    padding: 0 8px;
    line-height: 90px;
  }
  .site-header .nav-hover-one > li > a,
  .site-header .nav-hover-9 > li > a {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  .top-nav.style2 li a {
    padding: 0 5px;
  }
  .nHeight80 .navbar-nav > li > a {
    line-height: 70px;
  }
  .fullwidth-header > .container {
    padding: 0 15px;
  }
  /* home index */
  .index-slider3 .item {
    background-position: -810px center;
  }
  .index-slider3 .slider-content h3,
  .index-slider3 .slider-content h4 {
    font-size: 28px;
  }
  .index-slider3 .slider-content h1 {
    font-size: 65px;
    margin: 15px 0;
  }
  .text-block.as-feature h2 {
    font-size: 28px;
  }
  .client-border.primary:nth-child(1),
  .client-border.primary:nth-child(2),
  .client-border.primary:nth-child(3) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  .client-border.primary:nth-child(3),
  .client-border.primary:nth-child(6) {
    border-right: 0;
  }
  .client-border.primary:nth-child(4) {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
  }
  .client-border.primary:nth-child(n+5) {
    border-top: 0 none;
  }
  .service-wrap.type-4 {
    padding: 40px 15px;
  }
  .service-wrap.type-4 .service-icon {
    margin-bottom: 30px;
  }
  .service-wrap.type-4 h3 {
    font-size: 18px;
    margin-bottom: 28px;
  }
  .cta-lg .cta h2 {
    font-size: 28px;
  }
  .news-block.type2 .entry-title {
    font-size: 16px;
    line-height: 26px;
  }
  .news-block.type2 .entry-content {
    padding: 25px 15px 34px;
  }
  .news-block.type2 .readmore {
    padding-top: 19px;
    font-size: 13px;
  }
  /* header 4 */
  .agency-home {
    margin-top: 40px;
  }
  .header4 .navbar-brand {
    margin-left: 15px;
  }
  .header4 .navbar-collapse {
    left: auto;
    padding: 0;
  }
  .header4 .navbar-nav {
    margin: 0;
  }
  .header4 .navbar-nav > li > a {
    font-size: 18px;
    margin: 0 13px;
    padding: 0;
  }
  .header4 .hire-us {
    right: 15px;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
  }
  .header4.is-sticky .navbar-collapse {
    left: auto;
    right: 15px;
    -webkit-transform: translate(0px, -50%);
    -moz-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    -o-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
  }
  .header-mid .navbar-nav > li > a {
    font-weight: 700;
    line-height: 70px;
    padding: 0 11px;
  }
  .service-wrap h3 {
    font-size: 18px;
  }
  .icon-service2 .service-desc h3 {
    font-size: 20px;
  }
  .header-cart.static {
    margin-top: 20px;
    position: static;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .header-cart.static > a {
    display: inline-block;
  }
  .bottom-menu .navbar-brand {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .banner-carousel .item img {
    max-width: 50%;
  }
  .banner-carousel {
    padding: 50px 0;
  }
  .home-slider5 .slider-content h2 {
    font-size: 40px;
  }
  .home-slider7 .slider-content h1 {
    font-size: 80px;
    margin: 10px 0;
  }
  .home-slider7 .slider-content h2,
  .home-slider7 .slider-content h3 {
    font-size: 35px;
  }
  .section-head.style6 h2 {
    font-size: 25px;
  }
  .imac.right-half {
    margin-right: 0;
  }
  .logo-border [class^="col-"]:nth-child(3) {
    border-right: 0;
  }
  .copyright.type-2.pull-left,
  .footer-nav.pull-right {
    float: none !important;
    text-align: center;
  }
  .footer-nav {
    margin-top: 20px;
  }
  .footer-nav li:first-child a {
    padding-left: 0;
  }
  .intro-text {
    padding: 30px 35px 35px;
  }
  .intro-text h2 {
    font-size: 39px;
  }
  .section-head h2 {
    font-size: 40px;
    padding-right: 0;
  }
  .sub-heading {
    padding-left: 0;
  }
  .sub-heading h4 {
    font-size: 18px;
  }
  .sub-heading p {
    font-size: 14px;
  }
  .g-header .navbar-header {
    left: 15px;
    -webkit-transform: translate(0px, -50%);
    -moz-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    -o-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
  }
  .g-header .navbar-nav {
    float: right !important;
  }
  .member-name h4 {
    font-size: 13px;
  }
  .social-links li a {
    width: 30px;
  }
  .service-block .service-icon {
    min-height: 243px;
  }
  .minimal .portfolio-filter li {
    padding: 0;
  }
  .minimal .portfolio-filter li a {
    font-size: 13px;
    letter-spacing: 1px;
    padding: 8px 10px;
  }
  .minimal .team-wrap:not(:last-child) {
    margin-bottom: 30px;
  }
  .price-table .price-head {
    padding: 18px 25px 19px;
  }
  .price-table .price-head h2 {
    font-size: 24px;
  }
  .price-table .price-head h2 strong {
    font-size: 30px;
  }
  .price-table .price-head h2 span {
    font-size: 20px;
    margin-left: 0;
  }
  .price-body {
    padding-left: 20px;
    padding-top: 25px;
  }
  .price-body p {
    margin-bottom: 14px;
    padding-right: 20px;
  }
  .price-body ul {
    padding-bottom: 35px;
  }
  .price-foot {
    margin-top: 40px;
    padding: 30px 0;
  }
  .news-row [class^="col-"]:first-child .post-thumb img {
    max-height: 364px;
    min-height: auto;
  }
  .more-posts {
    bottom: 0;
    clear: both;
    left: 0;
    padding-top: 25px;
    position: static;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .team-member img + img {
    top: 0;
  }
  figure[class^="curv"] {
    bottom: 1px;
  }
  .contact-form2 {
    padding: 10% 10% 10% 30px;
  }
  .client-border:nth-child(n+5) {
    border-top: 1px solid #e5e5e5;
  }
  .client-border:nth-child(6) {
    border-right: 1px solid #e5e5e5;
  }
  .client-border:nth-child(4),
  .client-border:nth-child(8),
  .client-border:nth-child(12) {
    border-right: 0 none;
  }
  .contact-info p {
    display: flex;
    display: -webkit-flex;
  }
  .contact-info p i {
    margin-top: 8px;
  }
  textarea.input-field {
    height: 140px;
  }
  .site-footer .copyright {
    font-size: 15px;
  }
  .news-block {
    font-size: 16px;
    min-width: 160px;
  }
  .news-block .icon-btn i {
    font-size: 28px;
    height: 50px;
    line-height: 50px;
    width: 50px;
  }
  .news-block .icon-btn span {
    line-height: 50px;
    min-height: 50px;
    min-width: 160px;
  }
  .product-description {
    margin-top: 50px;
  }
  .twitter-timeline {
    display: block !important;
    margin: 0 auto;
  }
  .fb_iframe_widget {
    display: block;
    text-align: center;
  }
  .top-left {
    padding: 37px 30px;
  }
  .top-left img {
    max-width: 30%;
  }
  .top-left p {
    font-size: 18px;
    line-height: 27px;
    margin: 8px 0 0;
  }
  .launch-date {
    height: 240px;
  }
  .launch-date span {
    font-size: 25px;
  }
  .launch-date strong {
    font-size: 130px;
    line-height: 130px;
  }
  .launch-date p {
    font-size: 30px;
  }
  .home-slider6 .item img {
    max-width: 70%;
  }
  .tm-item4 .avatar {
    width: 140px;
  }
  .tm-item4 .avatar img {
    width: 100%;
  }
  .tm-item4 .control span {
    font-size: 26px;
    height: 60px;
    line-height: 60px;
    margin: -30px 21px 0;
    padding: 0 10px;
    width: 60px;
  }
  .testimonial-slider .tm-text {
    top: -1px;
  }
  .post-wrapper {
    margin-bottom: 100px;
  }
  .single-post .tablecell {
    max-width: 1px;
  }
  .single-post h3 {
    font-size: 16px;
  }
  .single-post .meta {
    font-size: 11px;
    font-weight: 500;
  }
  .single-post .meta time {
    margin-right: 5px;
  }
  .contact-info-block .icon {
    width: 70px;
  }
  .contact-info-block .info {
    padding-left: 20px;
  }
  .countdown-wrapper {
    min-height: 240px;
  }
  .countdown-wrapper .timer li span:first-child {
    font-size: 48px;
    line-height: 80px;
  }
  .tab-navs li a {
    font-size: 16px;
    padding: 12px 20px 11px;
  }
  .service-item h3 {
    font-size: 18px;
  }
  .btn-group {
    display: block;
    text-align: center;
  }
  .btn-group .btn-sprw {
    margin-bottom: 25px;
  }
  .feature-item .icon {
    height: 80px;
    width: 80px;
  }
  .feature-item .icon img {
    width: 50%;
  }
  .feature-item h3 {
    font-size: 16px;
    line-height: 1.4;
  }
  .feature-item .text-center {
    padding: 30px 25px;
  }
  .counter-item.style3 {
    padding: 60px 0;
  }
  .testimonial5 .text {
    padding: 50px 50px 115px;
  }
  .team-member.style-3 h3 {
    font-size: 22px;
    font-weight: 700;
  }
  .team-member.style-3 li a {
    height: 45px;
    line-height: 45px;
  }
  .tm-item6 .text {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    padding: 50px 50px 30px;
    width: 90%;
  }
  .single-post.style2 {
    text-align: left;
  }
  .single-post.style2 h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 25px;
  }
  .single-post.style2 .post-meta li {
    font-size: 13px;
    font-weight: 400;
    margin-right: 0;
  }
  /* index 2 */
  body.index2:after {
    height: 445px;
  }
  .borders:not(.bottom) .border:first-child,
  .borders:not(.bottom) .border:last-child {
    height: 74px;
  }
  .borders:not(.bottom) .border:nth-child(2),
  .borders:not(.bottom) .border:nth-child(3) {
    width: 74px;
  }
  .center-nav .navbar-nav > li > a {
    padding: 25px 8px;
  }
  .is-sticky .center-nav .navbar-nav > li > a {
    padding: 0 8px;
  }
  body.home::after {
    height: 600px;
  }
  .site-banner.only2 {
    height: 500px;
  }
  .banner-img {
    height: 100%;
  }
  .banner-img img:first-child {
    max-width: 80%;
    top: 60%;
  }
  .banner-img img:last-child {
    top: 135%;
  }
  .banner-text {
    margin-top: 450px;
    padding-bottom: 0;
    padding-top: 0;
  }
  .banner-text h2 {
    font-size: 140px;
  }
  .core-fueature2 {
    padding-bottom: 125px;
  }
  .error-page .site-footer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
  }
  /* services */
  .service-item.type-two {
    padding: 0 21px 35px;
  }
  /* price */
  .price-table .price-body {
    padding-left: 30px;
    padding-top: 30px;
  }
  .price-eight {
    padding: 30px 25px;
  }
  .price-eight h4 {
    font-size: 28px;
  }
  .price-eight .pricing {
    margin: 0 -25px 35px;
  }
  .price-nine {
    padding: 35px 30px;
  }
  .price-eleven {
    padding: 35px 25px;
  }
  /* shop */
  .site-header.cart-enable .navbar-collapse:not(.bottom-nav) {
    margin-right: 30px;
  }
  .site-header .navbar-brand img {
    width: 120px;
  }
  .header-cart {
    right: 10px;
    top: 105%;
  }
  .header-cart .cart-button,
  .header-cart .search-toggle {
    margin-right: 0;
  }
  .header-cart .shop-sidebar {
    right: 0;
  }
  .header-cart > a {
    display: block;
    margin: 0 0 10px;
  }
  .shop-widget .widget-products .product-thumb {
    width: 0;
  }
  .product2-wrapper {
    margin-bottom: 60px;
  }
  .product2-wrapper.desc-left .product-desc,
  .product2-wrapper.desc-right .product-desc {
    margin: 20px 0 0;
    max-width: none;
    position: static;
  }
  .img-gallery-details {
    margin-bottom: 50px;
  }
  .footer-item {
    margin-bottom: 50px;
  }
  .shop2-wrapper {
    padding-top: 0;
  }
  .shipping-btn .btn-wide {
    padding: 0 24px;
  }
  .shippingbox.box2,
  .shippingbox.box3 {
    margin-top: 50px;
  }
  .methodbox-label label {
    font-size: 15px;
    padding: 0;
  }
  .payment-methods .methodbox-label label {
    font-size: 14px;
    font-weight: 500;
  }
  .payment-infobox {
    margin-bottom: 50px;
  }
  .countdown-wrapper {
    height: 240px;
  }
  /* home business */
  .progress- {
    padding-bottom: 50px;
  }
  .icon-block {
    margin-bottom: 30px;
  }
  .colored-social li a {
    font-size: 24px;
  }
  .colored-social li a span {
    display: none;
  }
  .control-four .owl-nav .owl-prev,
  .control-four .owl-nav .owl-next {
    left: 0;
  }
  .testimonial-slider .tm-carousel .flex-nav-prev a,
  .testimonial-slider .tm-carousel .flex-nav-next a {
    display: none !important;
  }
  .testimonial-slider .tm-carousel li {
    width: 157px !important;
  }
  .about-us2 .about-slider {
    margin: 62.5px 0 0;
  }
  .icon-service {
    margin-bottom: 30px;
  }
  .left-half {
    margin-bottom: 30px;
    position: static;
    width: 100%;
  }
  .testimonial-slider .owl-nav {
    display: none;
  }
  .portfolio-heading nav {
    float: left;
    margin-top: 35px;
  }
  .portfolio-heading li {
    padding: 0;
  }
  .team-item .member-details {
    width: 50%;
  }
  .about-us2 .about-slider {
    margin: 0;
  }
  .about-us2 .right-half {
    margin-bottom: 60px;
    margin-right: 0;
  }
  .top-shape {
    bottom: -9px;
  }
  .nl-social li a {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 40px;
  }
  .white-nav .navbar-nav > li > a {
    font-size: 13px;
  }
  .home-slider3 .slider-content {
    left: 7%;
    width: 86%;
  }
  .top-menu li a {
    padding: 0 5px;
  }
  .home-slider4 .slider-content {
    left: 6%;
    width: 94%;
  }
  .map-absolute {
    position: relative !important;
  }
}
/*============================================================
    Mobile (Portrait) Design for a width of 320px
==============================================================*/
@media only screen and (max-width: 320px) {
  .header-cart .cart-button,
  .header-cart .search-toggle {
    margin-right: 0;
  }
}
/*============================================================
	Mobile (Portrait) Design for a width of 320px
==============================================================*/
@media only screen and (max-width: 767px) {
  .mb30-xs {
    margin-bottom: 30px !important;
  }
  .header-mid .navbar-brand img,
  .header-mid .navbar-toggle {
    top: 0;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  .agency-home {
    margin-top: 0;
  }
  .site-header {
    position: relative;
    z-index: 100;
  }
  .site-header .navbar-nav > li > a {
    line-height: 35px;
    padding: 0 5px;
    margin: 0;
  }
  .site-header .navbar-header {
    position: relative;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .site-header .navbar-toggle:hover,
  .site-header .navbar-toggle:focus {
    background-color: transparent;
  }
  .site-header .navbar-brand img {
    top: 7px;
  }
  .site-header.on .navbar-brand img {
    top: 7px;
  }
  .site-header.on .navbar-nav > li > a {
    line-height: 35px;
  }
  .navbar-collapse.in {
    max-height: 340px;
  }
  .g-header .navbar-header {
    left: 0;
  }
  .g-header .navbar-brand img {
    top: 0;
    left: 15px;
  }
  .g-header .navbar-toggle {
    right: 20px;
  }
  .g-header .navbar-nav {
    margin: 0;
  }
  .g-header .navbar-nav > li:first-child a {
    padding-left: 5px;
  }
  .sub-menu {
    opacity: 1;
    position: static;
    visibility: visible;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease-in-out 0s;
    -moz-transition: all 0s ease-in-out 0s;
    -o-transition: all 0s ease-in-out 0s;
    transition: all 0s ease-in-out 0s;
  }
  .sub-menu .sub-menu li a,
  li.megamenu > .sub-menu li li a {
    padding-left: 35px;
  }
  .navbar-brand img {
    max-width: 70%;
  }
  .ft-content img {
    max-width: 70%;
  }
  .navbar-toggle {
    border-radius: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .navbar-toggle .icon-bar {
    position: relative;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  .navbar-toggle.active .icon-bar:nth-child(2) {
    top: 6px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .navbar-toggle.active .icon-bar:nth-child(3) {
    opacity: 0;
  }
  .navbar-toggle.active .icon-bar:nth-child(4) {
    top: -6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .top-nav ul li a {
    line-height: 40px;
  }
  .bottom-menu .navbar-header {
    top: 0;
  }
  .bottom-menu .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .bottom-nav .navbar-nav {
    margin: 0;
  }
  .bottom-nav .navbar-nav > li > a {
    padding: 0;
  }
  .cart-enable .top-nav {
    margin-right: 0;
  }
  .top-nav.style2 {
    display: block;
  }
  .top-nav.style2 ul {
    text-align: left;
  }
  .top-nav.style2 ul li a {
    padding: 0 2px;
  }
  .site-header.header4 {
    background-color: #f7f7f7;
    height: auto;
    position: relative;
  }
  .site-header.header4 .container {
    height: auto;
  }
  .site-header.header4 .navbar-header {
    left: 0;
    margin: 0;
    opacity: 1;
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .site-header.header4 .navbar-brand {
    margin: 0;
    opacity: 1;
    visibility: visible;
  }
  .site-header.header4 .navbar-collapse {
    left: 0;
    margin: 0;
    right: 0;
    width: 100%;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  /*
     * Mega Menu
     *
     */
  li.megamenu > .sub-menu {
    box-shadow: none;
  }
  li.megamenu > .sub-menu > li {
    width: 100%;
    float: none;
    border: 0;
  }
  .header4 {
    height: auto;
    margin-top: 0;
  }
  .header4 .hire-us {
    display: none;
  }
  .header4 .navbar-collapse {
    background-color: #fff;
    left: 15px;
    position: absolute;
    right: 15px;
    top: 100%;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .header4 .navbar-nav > li > a {
    font-size: 18px;
    margin: 5px 15px;
    text-transform: none;
  }
  .header4 .navbar-nav > li > a::before {
    bottom: 0;
  }
  .sprw-page-title {
    padding-bottom: 65px;
    padding-top: 100px;
  }
  .sprw-page-title h2 {
    font-size: 40px;
  }
  /* home index */
  .colored-logo .navbar-brand {
    height: auto;
  }
  .colored-logo .navbar-brand img {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .index-slider3 .item {
    background-position: center;
  }
  .index-slider3 .slider-content h3,
  .index-slider3 .slider-content h4 {
    font-size: 20px;
  }
  .index-slider3 .slider-content h1 {
    font-size: 45px;
    margin: 10px 0;
  }
  .index-slider3 .slider-content .btn {
    font-size: 14px;
    height: 45px;
    line-height: 45px;
    margin-top: 25px;
    padding: 0 25px;
  }
  .index-slider3 .owl-nav {
    display: none;
  }
  .section-head.style8 h2 {
    font-size: 28px;
    line-height: 46px;
  }
  .client-border.primary:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 0 !important;
  }
  .text-block.as-feature h2 {
    font-size: 28px;
  }
  .client-border.primary:nth-child(1),
  .client-border.primary:nth-child(2),
  .client-border.primary:nth-child(3) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  .client-border.primary:nth-child(3),
  .client-border.primary:nth-child(6) {
    border-right: 0;
  }
  .client-border.primary:nth-child(4) {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
  }
  .client-border.primary:nth-child(n+5) {
    border-top: 0 none;
  }
  .service-wrap.type-4 {
    padding: 40px 15px;
  }
  .service-wrap.type-4 .service-icon {
    margin-bottom: 30px;
  }
  .service-wrap.type-4 h3 {
    font-size: 18px;
    margin-bottom: 28px;
  }
  .cta-lg .cta h2 {
    font-size: 28px;
  }
  .news-block.type2 .entry-title {
    font-size: 16px;
    line-height: 26px;
  }
  .news-block.type2 .entry-content {
    padding: 25px 15px 34px;
  }
  .news-block.type2 .readmore {
    padding-top: 19px;
    font-size: 13px;
  }
  .home-slider4 .slider-content {
    width: 90%;
  }
  .home-slider4 .slider-content h3 {
    font-size: 20px;
    margin: 10px 0 20px;
  }
  .home-slider4 .item2 .slider-content h2 {
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .vertical-nav.icon-only + .vertical-content,
  .vertical-content.icon-only,
  .vertical-content {
    padding-left: 0;
  }
  .vertical-content.pos-right {
    padding-right: 0;
  }
  .counter-item {
    margin-block-end: 30px;
  }
  .actionbox-inner > div {
    display: block;
    text-align: center;
  }
  .actionbox-inner .actionbox-left h2 {
    font-size: 21px;
    line-height: 30px;
  }
  .actionbox-inner .actionbox-right {
    margin-top: 30px;
  }
  .bottom-margin {
    margin-bottom: 30px;
  }
  .bottom-margin:last-child {
    margin-bottom: 0;
  }
  .header-top-inner [class^="col-"] {
    padding: 0;
  }
  .heading,
  .intro-thumb {
    height: auto !important;
  }
  .index-slider .item .slider-content {
    left: 15px;
  }
  .index-slider .item .slider-content h2 {
    font-size: 30px;
    line-height: 36px;
  }
  .index-slider .item .slider-content p {
    font-size: 18px;
    letter-spacing: 1px;
  }
  .index-slider .owl-nav {
    display: none;
  }
  .home-slider .item .container {
    height: 320px;
    position: relative;
  }
  .home-slider .item {
    background-position: center center;
    background-size: cover !important;
  }
  .home-slider .item img {
    margin: 0 auto;
    width: 90%;
  }
  .item1 .slider-content h2 {
    font-size: 22px;
    line-height: 30px;
  }
  .slider-content {
    left: auto;
  }
  .item2 .slider-content h2,
  .item3 .slider-content h2 {
    font-size: 60px;
    margin-bottom: 0;
    margin-top: 210px;
  }
  .item2 .slider-content h3,
  .item3 .slider-content h3 {
    display: none;
  }
  .home-slider5 .slider-content {
    margin-top: 50px;
  }
  .home-slider5 .slider-content img {
    width: 90px;
  }
  .home-slider5 .slider-content h2 {
    font-size: 25px;
  }
  .home-slider5 .btn-mid {
    font-size: 14px;
    height: 45px;
    line-height: 42px;
    padding: 0 30px;
  }
  .home-slider7 .slider-content {
    left: 20px;
  }
  .home-slider7 .slider-content h1 {
    font-size: 40px;
    margin: 10px 0;
  }
  .home-slider7 .slider-content h2,
  .home-slider7 .slider-content h3 {
    font-size: 20px;
  }
  .home-slider7 .slider-content .btn {
    font-size: 14px;
    line-height: 55px;
    padding: 0 30px;
  }
  .section-head.style6 h2 {
    font-size: 24px;
    line-height: 35px;
  }
  .imac.right-half {
    margin-right: 0;
  }
  .right1 .iphone {
    position: relative;
    top: 50px;
  }
  .logo-border [class^="col-"] {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 0 none;
  }
  .logo-border [class^="col-"]:last-child {
    border-bottom: 0;
  }
  .section-head.style7 h2 {
    font-size: 28px;
  }
  .right-border {
    border-right: 0 none;
  }
  .counter-item.type-4 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  .copyright.type-2.pull-left,
  .footer-nav.pull-right {
    float: none !important;
    text-align: center;
  }
  .footer-nav.pull-right {
    margin-top: 20px;
  }
  .sprw-bc .tablecell {
    display: block;
    text-align: left;
  }
  .sprw-bc .bc-title {
    margin-bottom: 15px;
  }
  .sprw-bc .bc-title h2 {
    font-size: 25px;
  }
  .cta {
    padding: 25px;
  }
  .cta .tablecell {
    display: block;
    padding: 0;
    margin-bottom: 25px;
  }
  .cta .tablecell:last-child {
    margin-bottom: 0;
  }
  .service-wrap {
    margin-bottom: 50px;
  }
  .service-wrap:last-child {
    margin-bottom: 0;
  }
  .tab-flat ul li {
    float: none;
  }
  .tab-flat.type-three ul {
    float: none;
    width: 100%;
  }
  .tab-flat.type-three ul li.active a {
    border-right: 1px solid #e5e5e5;
  }
  .tab-flat.type-three .tab-content {
    float: none;
    left: 0;
    width: 100%;
  }
  .team-single.style3 .avatar {
    margin-bottom: 30px;
  }
  .intro-top {
    background-color: #e6ae03;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .intro-text {
    padding: 25px 30px 30px;
  }
  .intro-text h2 {
    font-size: 35px;
  }
  .section-head h2 {
    font-size: 28px;
  }
  .section-head.style4 h2,
  .section-head.style5 h2 {
    font-size: 25px;
  }
  .sub-heading {
    margin-top: 25px;
    padding-left: 0;
  }
  .portfolio-filter > li {
    display: block;
    text-align: left;
  }
  .team-wrap {
    margin-bottom: 30px;
  }
  .team-wrap:last-child {
    margin-bottom: 0;
  }
  .site-intro {
    margin: 0 auto 80px;
  }
  .site-intro h2 {
    font-size: 28px;
    line-height: 40px;
  }
  .client-border {
    border-right: 0 none;
  }
  .price-table .price-head {
    padding: 18px 25px 19px;
  }
  .price-table .price-head h2 {
    font-size: 24px;
  }
  .price-table .price-head h2 strong {
    font-size: 30px;
  }
  .price-table .price-head h2 span {
    font-size: 20px;
    margin-left: 0;
  }
  .price-body {
    padding-left: 20px;
    padding-top: 25px;
  }
  .price-body p {
    margin-bottom: 14px;
    padding-right: 20px;
  }
  .price-body ul {
    padding-bottom: 35px;
  }
  .price-foot {
    margin-top: 40px;
    padding: 30px 0;
  }
  .portfolio-meta a:first-child {
    margin: 0;
  }
  .news-row [class^="col-"]:first-child .post-thumb img {
    max-height: 364px;
    min-height: auto;
  }
  .service-wrap h3 {
    font-size: 20px;
  }
  .section-head p {
    font-size: 17px;
  }
  .aboutme-img {
    margin: 40px 0 !important;
  }
  .aboutme-img img {
    height: auto;
    position: static;
  }
  .core-fueature2 {
    padding-bottom: 125px;
  }
  .core-fueature2 .phone {
    margin: 50px 0 !important;
  }
  [class^="col-"] .process-item {
    margin-bottom: 170px;
  }
  [class^="col-"]:last-child .process-item {
    margin-bottom: 0;
  }
  .home-slider6 .item img {
    max-width: 75%;
  }
  .home-slider6 .item .btn {
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    margin-top: 40px;
    padding: 0 40px;
  }
  .team-carousel2 .avatar img {
    width: 75%;
  }
  .team-carousel2 .control .owl-prev {
    left: 10px;
  }
  .team-carousel2 .control .owl-next {
    right: 10px;
  }
  .tm-item4 .tablecell {
    display: block;
  }
  .tm-item4 .text-right {
    text-align: left;
    margin-bottom: 20px;
  }
  .tm-item4 .avatar {
    width: 140px;
  }
  .tm-item4 .avatar img {
    width: 100%;
  }
  .tm-item4 .control {
    display: none;
  }
  .tm-item6 .text {
    border-bottom: 0 none;
    border-radius: 0;
    padding-left: 7%;
    padding-right: 7%;
    width: 100%;
  }
  .tm-item6 .text:before,
  .tm-item6 .text:after {
    background-color: rgba(255, 255, 255, 0.6);
    bottom: 0;
    content: "";
    height: -webkit-calc(100% - 25px);
    height: calc(100% - 25px);
    left: 0;
    position: absolute;
    width: 1px;
  }
  .tm-item6 .text:after {
    left: auto;
    right: 0;
  }
  .control-7 .owl-dots {
    margin-top: 25px;
  }
  .single-post .tablecell {
    max-width: 1px;
  }
  .single-post h3 {
    font-size: 16px;
  }
  .single-post .meta {
    font-size: 11px;
    font-weight: 500;
  }
  .single-post .meta time {
    margin-right: 5px;
  }
  .tweet-wrap > * {
    display: block;
  }
  .feed-item .pro-img img {
    margin: 0 0 30px;
  }
  .tweet-wrapper .twitter-follow {
    top: 7px;
  }
  .tweet-action {
    margin-left: 60px;
    text-align: left;
  }
  .section-title h2 {
    font-size: 30px;
  }
  .news-heading h2 {
    padding-right: 0;
  }
  .news-block h2 {
    margin-bottom: 20px;
  }
  .news-block .icon-btn i {
    font-size: 28px;
    height: 50px;
    line-height: 50px;
    width: 50px;
  }
  .news-block .icon-btn span {
    line-height: 50px;
    min-height: 50px;
    min-width: 160px;
  }
  .more-posts {
    bottom: 0;
    clear: both;
    left: auto;
    padding: 15px 0 0;
    position: static;
    text-align: center;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .more-posts a {
    font-size: 40px;
  }
  .map-wrapper {
    font-size: 30px;
  }
  .credit {
    float: left !important;
    margin-top: 20px;
  }
  .go-top {
    bottom: 30px;
    right: 15px;
  }
  .blog-banner {
    margin-bottom: 80px;
    padding: 41px 0 42px;
  }
  .blog-banner h1 {
    font-size: 25px;
    line-height: 40px;
  }
  .entry-post .post-meta,
  .entry-post .post-title,
  .entry-post .datetime {
    display: block;
  }
  .post-wrapper {
    margin-bottom: 100px;
  }
  .contact-form2 {
    padding: 15% 10%;
  }
  .contact-form2 .icon {
    margin-right: 20px;
  }
  .countdown-wrapper .timer li {
    padding: 0 13px;
  }
  .entry-post .datetime {
    text-align: left;
    margin-top: 15px;
  }
  .fb_iframe_widget {
    overflow: hidden;
  }
  .widget-posts li .post-thumb {
    padding-right: 15px;
  }
  .widget-posts li .post-excrpt a {
    font-size: 13px;
    margin-top: -5px;
  }
  .widget-posts li .post-excrpt p {
    font-size: 13px;
    line-height: 21px;
  }
  .widget-posts li .post-excrpt time {
    font-size: 13px;
    color: #333333;
  }
  .quote-half {
    width: 100%;
  }
  .single_comment .single_comment {
    margin-left: 20px;
  }
  .alignright {
    float: none;
    margin: 0 0 20px;
  }
  .wp-caption-text {
    margin: 15px 15px 0 0;
  }
  .error-title h2 {
    font-size: 50px;
  }
  .error404 p {
    font-size: 18px;
    line-height: 35px;
  }
  .top-left {
    padding: 20px 15px;
  }
  .top-left img {
    margin-top: 11px;
    max-width: 30%;
    padding-right: 15px;
  }
  .top-left p {
    font-size: 14px;
    line-height: 27px;
    margin: 2px 0 0;
  }
  .countdown-wrapper {
    height: 140px;
  }
  .countdown-wrapper .timer li span:first-child {
    font-size: 24px;
    line-height: normal;
  }
  .countdown-wrapper .timer li span:last-child {
    font-size: 15px;
    margin-top: 0;
  }
  .pf-pagination li a {
    width: 94px;
  }
  .launch-date {
    height: 190px;
    padding: 30px 0;
  }
  .launch-date i {
    left: 50%;
    position: absolute;
    top: -51px;
    -webkit-transform: translateY(0px) translateX(-50%) rotate(90deg);
    -moz-transform: translateY(0px) translateX(-50%) rotate(90deg);
    -ms-transform: translateY(0px) translateX(-50%) rotate(90deg);
    -o-transform: translateY(0px) translateX(-50%) rotate(90deg);
    transform: translateY(0px) translateX(-50%) rotate(90deg);
  }
  .launch-date span {
    font-size: 15px;
  }
  .launch-date strong {
    font-size: 70px;
    line-height: 80px;
  }
  .launch-date p {
    font-size: 30px;
  }
  .mailchimp-form {
    margin-bottom: 30px;
  }
  .bottom-right p {
    display: -webkit-flex;
    display: flex;
  }
  .bottom-right p i {
    margin-top: 10px;
  }
  .top-shape {
    bottom: -9px;
  }
  .feature-item .icon {
    height: 100px;
    width: 100px;
  }
  .feature-item .icon img {
    width: 50%;
  }
  .feature-item h3 {
    font-size: 18px;
    line-height: 1.4;
  }
  .feature-item .text-center {
    padding: 30px 25px;
  }
  .testimonial5 .text {
    padding: 20px 20px 60px;
  }
  .testimonial5 .text > i {
    font-size: 40px;
  }
  .testimonial5 .avatar {
    width: 120px;
  }
  .testimonial5 .owl-nav .owl-prev {
    left: -65px;
  }
  .testimonial5 .owl-nav .owl-next {
    right: -65px;
  }
  .newsletter2 .tablecell {
    background-color: transparent;
    display: block;
    padding: 0;
  }
  .newsletter2 .field-with-icon .form-field {
    padding: 0 0 0 55px;
  }
  .newsletter2 .form-field {
    font-size: 15px;
    height: 60px;
  }
  .newsletter2 .field-with-icon i {
    font-size: 20px;
  }
  .newsletter2 .submit input {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    width: 100%;
  }
  .floating-caption .item-details {
    padding: 20px;
  }
  .bp-horizontal .tablecell {
    display: block;
    text-align: center;
  }
  .bp-horizontal .bp-media {
    display: inline-block;
    margin-bottom: 15px;
  }
  .bp-horizontal .bp-meta {
    position: static;
  }
  .bp-horizontal .bp-meta span {
    font-size: 13px;
    padding: 7px;
  }
  .sprw-pagination li a {
    margin: 0 2px 5px;
  }
  .alert-large {
    padding: 35px 25px 25px;
  }
  .alert-large .alert-icon {
    width: 50px;
  }
  .alert-large h4 {
    line-height: 25px;
  }
  .tab-default {
    margin-top: 0;
    padding: 20px;
  }
  .tab-default .tab-navs {
    margin-bottom: 30px;
    position: static;
  }
  .tab-default .tab-pane {
    font-size: inherit;
    line-height: inherit;
  }
  .tab-default .tab-pane img {
    margin-bottom: 20px;
  }
  .tab-default .tab-pane .continue {
    margin-bottom: 20px;
  }
  .tab-navs li {
    float: none;
    display: block;
  }
  .tab-navs li:not(.active) a {
    margin-top: 0;
  }
  .tab-navs li:before {
    content: none;
  }
  .tab-navs li a {
    display: block;
    font-size: 14px;
    padding: 7px 0 4px;
    text-align: left;
  }
  .progress-default {
    margin-bottom: 30px;
    padding: 15px;
  }
  .progress {
    height: 40px;
  }
  .progress-bar span {
    font-size: 13px;
    left: 10px;
  }
  .progress-bar .progress-value {
    right: 10px;
  }
  .progress.style2:last-child {
    margin-bottom: 30px;
  }
  .panel-title {
    font-size: 16px;
  }
  .bottom-margin .service-item {
    margin-bottom: 30px;
  }
  .bottom-margin:last-child .service-item {
    margin-bottom: 0;
  }
  .service-item h3 {
    font-size: 18px;
  }
  .btn-group {
    display: block;
    text-align: center;
  }
  .btn-group .btn-sprw {
    margin-bottom: 25px;
    margin-right: 0;
  }
  .map-absolute {
    position: relative !important;
  }
  .contact-form.form2 {
    margin-bottom: 30px;
  }
  /* index 2 */
  .header2.sticky {
    background-color: #ffffff;
  }
  .header2 .navbar-brand {
    background-color: transparent;
  }
  .header2 .navbar-brand:hover,
  .header2 .navbar-brand:focus {
    background-color: transparent;
  }
  .header2 .navbar-brand img {
    margin-left: 0;
  }
  .center-nav {
    background-color: #ffffff;
  }
  .center-nav .navbar-nav {
    text-align: left;
  }
  .center-nav .navbar-nav li {
    display: block;
  }
  .banner-img img {
    max-width: 80%;
    top: 20%;
  }
  .banner-img img:last-child {
    max-width: 200%;
    top: 50%;
    left: 58%;
  }
  .banner-text {
    margin-top: -230px;
    padding-bottom: 0;
    padding-top: 0;
  }
  .banner-text h2 {
    font-size: 50px;
  }
  .banner-text h3 {
    font-size: 40px;
  }
  /* shop */
  .site-header.cart-enable .navbar-collapse:not(.bottom-nav) {
    margin-right: 0;
  }
  .header-cart {
    right: 52px;
    top: 8px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .hc-sidebar-wrapper .wrapper-one,
  .hc-sidebar-wrapper .wrapper-two {
    margin-bottom: 30px;
  }
  .search-wrapper .search-form {
    width: 90%;
  }
  .product2-wrapper.desc-left .product-desc,
  .product2-wrapper.desc-right .product-desc {
    margin: 20px 0 0;
    max-width: none;
    position: static;
    text-align: left;
  }
  .product2-wrapper.desc-left .product-desc h3:before,
  .product2-wrapper.desc-right .product-desc h3:before {
    left: 0;
    right: auto;
  }
  .product-description {
    margin-top: 50px;
  }
  .img-nav {
    margin-bottom: 20px;
    overflow: hidden;
  }
  .img-nav li {
    float: left;
    margin: 0 2px;
    width: -webkit-calc(20% - 4px);
    width: calc(20% - 4px);
  }
  .testimonial-slider .client-thumb:focus {
    outline: none;
  }
  .testimonial-slider .tm-text {
    top: -1px;
  }
  .testimonial-slider .slick-prev {
    left: 10px;
    z-index: 5;
  }
  .testimonial-slider .slick-next {
    right: 10px;
    z-index: 5;
  }
  .about-us2 {
    padding-bottom: 50px;
  }
  .about-us2 .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .about-us2 .right-half {
    margin-right: 0;
  }
  .product-description .btn {
    padding: 0;
    width: 47.5%;
  }
  .footer-item {
    margin-bottom: 50px;
  }
  .shop-slider2 .item {
    height: 250px;
  }
  .products-right {
    float: none;
  }
  .home-slider2 .slider-content h1 {
    font-size: 35px;
  }
  .home-slider2 .slider-content h1,
  .home-slider2 .slider-content p,
  .home-slider2 .slider-content h3 {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }
  .banner-img img:last-child {
    left: 50%;
    max-width: 100%;
  }
  .personal-content {
    left: 15px;
  }
  .personal-content h2 {
    font-size: 60px;
  }
  .personal-content p {
    font-size: 18px;
    line-height: 30px;
  }
  .aboutme-img {
    background-repeat: no-repeat;
    height: 300px;
    margin: 30px 0 50px;
  }
  .tm-text {
    margin-bottom: 30px;
  }
  body.home:after {
    height: 330px;
  }
  .banner-img {
    height: 330px;
    padding-top: 120px;
  }
  .banner-img img {
    max-width: 80%;
    margin: 0 auto;
    position: static;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .banner-text {
    margin-top: 100px;
  }
  .shop2-wrapper > .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .heading h2:after {
    content: none;
  }
  .site-header .navbar-brand {
    padding: 5px 0;
  }
  .filter-wrapper .col-sm-3 {
    margin-bottom: 15px;
    text-align: left;
  }
  .man img {
    margin: 0 auto;
  }
  .dl-btn {
    text-align: left;
  }
  .dl-btn .btn {
    margin: 0 0 10px;
  }
  .success-message h2 {
    font-size: 26px;
  }
  .success-message p {
    font-size: 17px;
  }
  .shipping-btn {
    margin: 50px 0 70px;
  }
  .shipping-btn a {
    padding: 0;
    width: 100%;
  }
  .shipping-btn a:not(:last-child) {
    margin-bottom: 15px;
  }
  .loginbox {
    margin-bottom: 30px;
  }
  .loginbox form {
    padding: 20px;
  }
  .loginbox form .forgot-pass {
    float: none;
    top: 0;
  }
  .method-box {
    float: none;
    margin-bottom: 30px;
    width: 100%;
  }
  .method-box .methodbox-label {
    border-left: 1px solid #eee;
  }
  .payment-infobox {
    margin-bottom: 30px;
  }
  .cart-nav li {
    float: none;
    width: 100%;
  }
  .cart-nav li a {
    border: 1px solid #eeeeee;
    border-top: 0;
  }
  .cart-nav li a:first-child {
    border-top: 0;
  }
  .cart-nav li:not(:last-child) a {
    border-right: 1px solid #eeeeee;
  }
  .contact-block {
    border-bottom: 1px solid #eee;
    border-right: 0 none;
    margin: 0;
  }
  .contact-block:last-child {
    border-bottom: 0;
  }
  #map-canvas2 {
    height: 350px;
  }
  .cf-on-map {
    position: static;
    width: 100%;
  }
  .newsletter-wrapper {
    margin-top: 0;
  }
  /* shop-slider3 */
  .shop-slider3 .slide-content h1 {
    font-size: 25px;
  }
  .shop-slider3 .slide-content h2 {
    font-size: 25px;
    font-weight: 400;
  }
  .home-slider .item1 .slider-content h2 {
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
  }
  .home-slider .item2 .slider-content h2,
  .home-slider .item3 .slider-content h2 {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 30px;
    line-height: 50px;
    padding: 0 20px 2px;
  }
  .testimonial-slider .tm-carousel li {
    margin-right: 20px;
    width: 135px !important;
  }
  .tweet-wrapper .twitter-follow {
    top: -40px;
  }
  .overview-text h2 {
    font-size: 20px;
  }
  .post-entry .post-content {
    padding: 20px;
  }
  .post-entry .post-content h3 {
    font-size: 20px;
  }
  .testimonial-slider .tm-carousel .flex-nav-prev a {
    left: 10px;
  }
  .testimonial-slider .tm-carousel .flex-nav-next a {
    right: 10px;
  }
  .control-four .owl-nav .owl-prev {
    left: 0;
  }
  .control-four .owl-nav .owl-next {
    right: 0;
  }
  .icon-block {
    margin-bottom: 30px;
  }
  .mb-xs-0 {
    margin-bottom: 0;
  }
  .colored-social li a {
    font-size: 18px;
    padding: 10px 0 8px;
  }
  .colored-social li a i {
    margin-right: 0;
  }
  .colored-social li a span {
    display: none;
  }
  .twitter-item .tweet-content .tweet-time {
    display: block;
    float: none;
    margin-bottom: 10px;
  }
  .twitter-text > p {
    margin: 0 0 8px;
  }
  .boxed-service {
    margin-bottom: 0;
    border-right: 1px solid #eee;
    border-bottom: 0;
  }
  .boxed-service:last-child {
    border-bottom: 1px solid #eee;
  }
  .img-gallery-details {
    margin-bottom: 50px;
  }
  .left-half {
    margin-bottom: 30px;
    position: static;
    width: 100%;
    height: 300px;
  }
  .home-slider3 .slider-content {
    left: 15px;
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }
  .home-slider3 .slider-content h2 {
    font-size: 32px;
  }
  .home-slider3 .slider-content .btn {
    border-radius: 3px;
    font-weight: 400;
  }
  .home-slider3 .slider-content .btn:last-child {
    margin-right: 0;
    margin-top: 15px;
  }
  #about-slider2 {
    margin-bottom: 30px;
  }
  .faq-filter li a {
    margin-bottom: 10px;
  }
  .icon-service {
    margin-bottom: 30px;
  }
  [data-carousel-3d] > [data-children-wrapper] > [data-child] {
    padding-top: 0 !important;
  }
  [data-carousel-3d] [data-prev-button],
  [data-carousel-3d] [data-next-button] {
    top: -webkit-calc(50% - 15px);
    top: calc(50% - 15px);
  }
  .testimonial-slider .owl-nav .owl-prev {
    left: 25px;
  }
  .testimonial-slider .owl-nav .owl-next {
    right: 25px;
  }
  .portfolio-heading .heading.type-two {
    float: none;
  }
  .portfolio-heading nav {
    float: none;
    margin-top: 40px;
  }
  .description--preview {
    padding: 0 15px;
  }
  .description--preview h3 {
    font-size: 14px;
  }
  .team-item .member-details {
    padding: 20px;
    top: auto;
    width: 100%;
    bottom: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .fullwidth-header > .container {
    padding: 0 15px;
  }
  .pg-nav li a {
    font-size: 25px;
    line-height: 25px;
    padding: 15px 0;
  }
  .control-two .slick-arrow {
    height: 70px;
  }
  [data-carousel-3d] [data-next-button] {
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -moz-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    -o-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
  }
}
/*============================================================
    iPhone 4 & in landscape
==============================================================*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  .control-two .slick-arrow {
    height: 60px;
  }
}
/*============================================================
    iPhone 5 & 5S in landscape
==============================================================*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  .control-two .slick-arrow {
    height: 70px;
  }
}
/*============================================================
    iPhone 6 in landscape
==============================================================*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  .control-two .slick-arrow {
    height: 70px;
  }
}
/*============================================================
    iPhone 6plus in landscape
==============================================================*/
@media only screen and (min-device-width: 640px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .control-two .slick-arrow {
    height: 70px;
  }
  .home-slider3 .slider-content .btn:last-child {
    margin-top: 0;
  }
}
/*============================================================
    iPhone 6plus in portrait
==============================================================*/
@media only screen and (min-device-width: 360px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .home-slider3 .slider-content .btn:last-child {
    margin-top: 0;
  }
}
