<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Meta Description -->
        <meta name="description" content="">
        <!-- Meta Keyword -->
        <meta name="keywords" content="">
        <!-- meta character set -->
        <meta charset="utf-8">

        <!-- Site Title -->
        <title>Portfolio Single 2 | Sparrow</title>
        
        <!--
        favicons
        ============================================= -->
        <!-- For third-generation iPad with high-resolution Retina display: -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../img/icons/apple-touch-icon-144x144-precomposed.png">
        <!-- For iPhone with high-resolution Retina display: -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../img/icons/apple-touch-icon-114x114-precomposed.png">
        <!-- For first- and second-generation iPad: -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../img/icons/apple-touch-icon-72x72-precomposed.png">
        <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
        <link rel="apple-touch-icon-precomposed" href="../img/icons/apple-touch-icon-precomposed.png">
        <!-- default favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="../img/icons/favicon.png">

        
        <!--
        Google Fonts
        ============================================= -->

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Tulpen+One|Great+Vibes|Roboto:100,300,400,500,600,700,800,900|Roboto+Condensed:300,400,700|Oswald:300,400|Raleway:100,200,300,400,500,600,700,800,900|Poiret+One">

		
        <!--
        CSS
        ============================================= -->
        <!-- Fontawesome -->
        <link rel="stylesheet" href="../css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/magnific-popup.css">
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/eleganticon.css">
        <link rel="stylesheet" href="../css/owl.carousel.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/media-queries.css">

        <link id="color-changer" rel="stylesheet" href="../css/colors/c.css">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->		
    </head>
	
    <body id="top" class="back-step">
        
        <!-- preloader -->
        <div id="preloader">
            <div id="global">
                <div id="first" class="mask">
                    <div class="plane"></div>
                </div>
                <div id="middle" class="mask">
                    <div class="plane"></div>
                </div>
                <div id="bottom" class="mask">
                    <div class="plane"></div>
                </div>
                <p><i>LOADING...</i></p>
            </div>
        </div>
        <!-- // preloader -->

        <!-- .site-header -->
        <header class="site-header navbar-default header4 is-sticky relative fullwidth-header">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="../img/logo.png" alt="Sparrow">
                    </a>
                </div>
                
                <nav class="collapse navbar-collapse">
                    <ul class="nav navbar-nav mp-menu navbar-right nav-hover-one">
                        <li><a href="./index.html">Sparrow</a></li>
                        <li><a href="./team.html">Team</a></li>
                        <li><a href="./career.html">Career</a></li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                        <li><a href="./elements.html">Elements</a></li>
                        <li class="visible-xs visible-sm"><a href="./hire-us.html">Hire Us</a></li>
                    </ul>
                </nav><!-- /.navbar-collapse -->
                <a href="./hire-us.html" class="hire-us right hidden-xs hidden-sm">Hire Us</a>
            </div>
        </header>
        <!-- // .site-header -->
        
        <section class="sprw-page-title parallax" style="background-image: url(./../img/bg/3.jpg)">
            <div class="overlay dark"></div>
            <div class="container text-center">
                <h2>Great MockUp</h2>
            </div>
        </section>

        <!-- #creatives -->
        <section class="section-full">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row no-gutter pf-masonry">
                            <div class="col-xs-12 col-sm-6 uiux branding marketing">
                                <div class="portfolio-item">
                                    <img src="../img/works/13.jpg" class="img-responsive" alt="">
                                    <div class="pf-hover hover-five">
                                        <a href="../img/works/13.jpg" class="icon img-popup" data-effect="mfp-zoom-in">
                                            <i class="el-icon icon_camera_alt "></i>
                                        </a>
                                        <h4>Great MockUp</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 photography branding">
                                <div class="portfolio-item">
                                    <img src="../img/works/14.jpg" class="img-responsive" alt="">
                                    <div class="pf-hover hover-five">
                                        <a href="../img/works/14.jpg" class="icon img-popup" data-effect="mfp-zoom-in">
                                            <i class="el-icon icon_camera_alt "></i>
                                        </a>
                                        <h4>Great MockUp</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 uiux photography branding">
                                <div class="portfolio-item">
                                    <img src="../img/works/16.jpg" class="img-responsive" alt="">
                                    <div class="pf-hover hover-five">
                                        <a href="../img/works/16.jpg" class="icon img-popup" data-effect="mfp-zoom-in">
                                            <i class="el-icon icon_camera_alt "></i>
                                        </a>
                                        <h4>Great MockUp</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 print marketing branding">
                                <div class="portfolio-item">
                                    <img src="../img/works/17.jpg" class="img-responsive" alt="">
                                    <div class="pf-hover hover-five">
                                        <a href="../img/works/17.jpg" class="icon img-popup" data-effect="mfp-zoom-in">
                                            <i class="el-icon icon_camera_alt "></i>
                                        </a>
                                        <h4>Great MockUp</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end .row -->
                    </div>
                    <!-- end .col-md-8 -->

                    <div class="col-md-4">
                        <div class="details-wrapper raleway">
                            <div class="detail-single">
                                <span class="sep"></span>
                                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. </h4>
                                <p>Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta beatae vitae sunt explicabo.</p>
                            </div>
                            <div class="detail-single">
                                <span class="sep"></span>
                                <ul class="list-none">
                                    <li>Project Name: <a href="#">Great MockUp</a></li>
                                    <li>Client Name: <a href="#">Edge-Themes</a></li>
                                    <li>Finish Date: <a href="#">October 30, 2015</a></li>
                                    <li>Live Link: <a href="#">www.pixelcoder.net</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end .col-md-4 -->
                </div>
                <!-- end .row -->
            </div>
        </section>
        <!-- // #creatives -->

        <section class="section bottom-full">
            <div class="container">
                <div class="section-head style3 text-left">
                    <h2 class="fw300">More Project</h2>
                </div>
                <div class="row no-gutter pf-masonry">
                    <div class="col-xs-12 col-sm-4 uiux branding marketing">
                        <div class="portfolio-item">
                            <img src="../img/works/13.jpg" class="img-responsive" alt="">
                            <div class="pf-hover hover-five">
                                <a href="../img/works/13.jpg" class="icon img-popup" data-effect="mfp-zoom-in">
                                    <i class="el-icon icon_camera_alt "></i>
                                </a>
                                <h4>Great MockUp</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 photography branding">
                        <div class="portfolio-item">
                            <img src="../img/works/14.jpg" class="img-responsive" alt="">
                            <div class="pf-hover hover-five">
                                <a href="../img/works/14.jpg" class="icon img-popup" data-effect="mfp-zoom-in">
                                    <i class="el-icon icon_camera_alt "></i>
                                </a>
                                <h4>Great MockUp</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 uiux photography branding">
                        <div class="portfolio-item">
                            <img src="../img/works/15.jpg" class="img-responsive" alt="">
                            <div class="pf-hover hover-five">
                                <a href="../img/works/15.jpg" class="icon img-popup" data-effect="mfp-zoom-in">
                                    <i class="el-icon icon_camera_alt "></i>
                                </a>
                                <h4>Great MockUp</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 print marketing branding">
                        <div class="portfolio-item">
                            <img src="../img/works/16.jpg" class="img-responsive" alt="">
                            <div class="pf-hover hover-five">
                                <a href="../img/works/16.jpg" class="icon img-popup" data-effect="mfp-zoom-in">
                                    <i class="el-icon icon_camera_alt "></i>
                                </a>
                                <h4>Great MockUp</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 print marketing branding">
                        <div class="portfolio-item">
                            <img src="../img/works/18.jpg" class="img-responsive" alt="">
                            <div class="pf-hover hover-five">
                                <a href="../img/works/18.jpg" class="icon img-popup" data-effect="mfp-zoom-in">
                                    <i class="el-icon icon_camera_alt "></i>
                                </a>
                                <h4>Great MockUp</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 print marketing branding">
                        <div class="portfolio-item">
                            <img src="../img/works/17.jpg" class="img-responsive" alt="">
                            <div class="pf-hover hover-five">
                                <a href="../img/works/17.jpg" class="icon img-popup" data-effect="mfp-zoom-in">
                                    <i class="el-icon icon_camera_alt "></i>
                                </a>
                                <h4>Great MockUp</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end .row -->
            </div>
        </section>
                    
        <!-- .footer-top -->
        <section class="footer-top style3 section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="footer-item style3">
                            <h3><span>About Sparrow</span></h3>
                            <div class="textwidget">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="footer-item style3">
                            <h3><span>Flickr Stream</span></h3>
                            <ul class="flickr-stream social-feed list-none text-center clear"></ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="footer-item style3">
                            <h3><span>Blog Posts</span></h3>
                            <ul class="left-anim">
                                <li><a href="#">Lorem ipsum dolor sit amet <span>May 4, 2015</span></a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet <span>Feb 8, 2015</span></a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet <span>Jan 9, 2015</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="footer-item style3">
                            <h3><span>Our Social Profiles</span></h3>
                            <ul class="social-links style3 list-none">
                                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>

                            <h5 class="text-dark mt30 mb15">Contact Address</h5>
                            <p>14/4/a, Kalabagan, Dhaka<br>
                            Call Us : (000) 0000 0000 <br>
                            Email : support@pixelcoder.net</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end .footer-top -->
        
        <!-- #colophon -->
        <footer id="colophon" class="site-footer">
            <div class="container">
                <div class="copyright pull-left">
                    &copy; 2015 <span><a href="#">sparrow studio</a></span>, creatove agency. All Rights Reserved
                </div>
                <div class="credit pull-right">
                    designed by <a href="#">PIXEL CODER STUDIO</a>
                </div>
            </div>
        </footer>
        <!-- // #colophon -->
        
        <a href="javascript:;" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>

        <!--
        JavaScripts
        ========================== -->
        <script src="../js/vendor/jquery.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/retina.js"></script>
        <script src="../js/jquery-easing-1.3.js"></script>
        <script src="../js/isotope.pkgd.min.js"></script>
        <script src="../js/owl.carousel.min.js"></script>
        <script src="../js/jquery.singlePageNav.min.js"></script>
        <script src="../js/form.min.js"></script>
        <script src="../js/jquery-validation.min.js"></script>
        <script src="../js/jquery.magnific-popup.min.js"></script>
        <script src="../js/jquery.parallax-1.1.3.js"></script>
        <script src="../js/jquery.gray.min.js"></script>
        <script src="../js/instafeed.min.js"></script>
        <script src="../js/jribbble.min.js"></script>
        <script src="../js/jflickrfeed.min.js"></script>
        <script src="../js/jquery.countdown.min.js"></script>
        <script src="../js/jquery.hoverdir.js"></script>
        <script src="../js/wow.min.js"></script>
        <script src="../js/bootstrap-progressbar.min.js"></script>
        <script src="../js/jquery.appear.js"></script>
        <script src="../js/jquery.sticky.js"></script>
        <script src="../js/main.js"></script>
        <script type="text/javascript">
            $(function() {
                $(".header4").sticky({
                    topSpacing: 0
                });
            });
        </script>
    </body>
</html>
